@import "../../index.less";

.global-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    width: 100%;
}

.global-settings-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.global-settings-text {
    color: var(--textColor);
    font-size: 20px;
    font-family: "GenEi M Gothic v2", sans-serif;
}

.global-settings-input {
    margin-left: 6px;
    color: var(--textColor);
    font-size: 20px;
    font-family: "GenEi M Gothic v2", sans-serif;
    height: 30px;
    width: 40px;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &:first-child {
        width: 20px;
    }
}

.global-settings-checkbox {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: var(--checkboxColor);
}

.btn {
    color: var(--textColor);
    font-size: 17px;
    font-family: "GenEi M Gothic v2", sans-serif;
    padding: 1px 3px;
    background-color: var(--navColor);
    cursor: default !important;
    border-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-primary:hover {
    color: var(--hoverColor) !important;
    border-color: transparent !important;
    background-color: var(--navColor) !important;
    box-shadow: none !important;
}

.dropdown-toggle {
    color: var(--textColor) !important;
    border-color: transparent !important;
    background-color: var(--navColor) !important;
    &:hover {
        color: var(--hoverColor) !important;
    }
    &::after {
        content: none !important; 
    }
}

.dropdown-menu {
    background-color: var(--navColor);
    min-width: 0;
    padding: 0;
    border: none;
}

.dropdown-item {
    color: var(--textColor);
    cursor: default !important;
    font-size: 15px;
    font-family: "GenEi M Gothic v2", sans-serif;
    padding: 3px 2px;
    &:hover {
        background-color: var(--dropdownHover);
    }
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--navColor);
}