@import "../../index.less";

.group-action-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    gap: 20px;
}

.group-action-button {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--textColor2);
    font-family: "GenEi M Gothic v2";
    font-weight: bold;
    font-size: 20px;
    &:hover {
        color: white;
    }
}